{% extends 'base.html' %}
{% block conteudo %}

<section class="full-height px-lg-5">
	<br>
	<p></p>
	<br>
	<p></p>
	<br>
	<h1 style="text-align: center; font-family:monospace ; color: dimgray;"> <b>SCIENCE</b></h1>
	<h2 style="text-align: center; font-family:monospace; color: dimgray;"> <b>Sistema de Concessão de Recursos</b></h2>
	<hr>
	<div class="row g-2">
		<a href="{{url_for('cadastroconc')}}" class="btn btn-outline-primary"> <b>Concessão</b></a>
		<a href="{{url_for('novorecurso')}}" class="btn btn-outline-primary"> <b>Recurso</b></a>
		<a href="{{url_for('recursotipo')}}" class="btn btn-outline-primary"><b>Recurso Tipo</b></a>
		<a href="{{url_for('notafiscal')}}" class="btn btn-outline-primary"> <b>Nota Fiscal</b></a>
		<a href="{{url_for('marca')}}" class="btn btn-outline-primary"> <b>Marcas</b></a>
	</div>
	<hr>
</section>


{% endblock conteudo %}