{% extends 'base.html' %}
{% block conteudo %}


<section class="full-height px-lg-5">
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 style="text-align: left; color: gray;">Marcas</h3>
            </div>
            <div class="col">
                <a href="{{url_for('novamarca')}}" class="btn btn-primary">Nova Marca</a>
                <a href="{{url_for('main')}}" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
        <div class="tabela-comunicado">
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col">marca</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    
                                                    <tr>
                            <td class="text-center">1</td>
                            <td>HP</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/1" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/1" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">2</td>
                            <td>-EM LOTE-</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/2" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/2" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">3</td>
                            <td>ASUS</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/3" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/3" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">4</td>
                            <td>SAMSUNG</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/4" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/4" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">5</td>
                            <td>ACER</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/5" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/5" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">6</td>
                            <td>COMPAQ</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/6" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/6" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">7</td>
                            <td>CLARO</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/7" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/7" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">8</td>
                            <td>ALCATEL</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/8" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/8" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">9</td>
                            <td>NÃO IDENTIFICADO</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/9" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/9" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">10</td>
                            <td>NÃO TEM</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/10" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/10" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">11</td>
                            <td>Microsoft</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/11" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/11" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">12</td>
                            <td>LOGITECH</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/12" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/12" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">13</td>
                            <td>MULTILASER</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/13" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/13" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">14</td>
                            <td>VIVO</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/14" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/14" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">17</td>
                            <td>ALCATEL</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/17" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/17" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">18</td>
                            <td>LENOVO</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/18" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/18" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                    <tr>
                            <td class="text-center">19</td>
                            <td>IPHONE</td>
                            
                            <td class="text-center">
                                <div class="row">
                                    <div class="col nopadding">
                                        <a href="http://intranet.portinfo.com.br/science/marcas/19" class="edit-icone"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                    <div class="col nopadding">
                                        <form action="http://intranet.portinfo.com.br/science/marcas/deletar/19" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')">
                                            <input type="hidden" name="_token" value="aa6Z48BAiO92UFVt2VmPvPei6NsRSm6DHwojUxx1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <button type="submit" class="anular-botao cor-cinza"><i class="bi bi-trash"></i></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    
                </tbody>
                

            </table>
        </div>
    </div>
</section>

{% endblock conteudo %}