{% extends 'base.html' %}
{% block conteudo %}

<section class="full-height px-lg-5">
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 style="text-align: left; color: gray;">Recurso</h3>
            </div>
            <div class="col">
                <a href="{{url_for('sobre')}}" class="btn btn-primary">Novo Recurso</a>
                <a href="{{url_for('main')}}" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row g-0">
            <div class="col">
                <br>
                <h5 style="color: gray;">Legenda:</h5>
                <p style="color: red;">[ Em Uso ] <font color="green">[ Disponível ]</font>
                </p>
            </div>
            <p></p>
            <div class="row-cols-2">
                <form method="GET" action="http://intranet.portinfo.com.br/science/concessao">
                <input type="hidden" name="_token" value="6FzByeamHLuy7hh7OE953YGzrvjy1dkg1UBrvpkc">
                <div class="input-group row-cols-12">
                    <input type="text" name="search" class="form-control btn-ajustes-texto" placeholder="...">
                    <select class="form-select conf-form busca-science" name="info" aria-label="Default select example">
                        <option value="serial">por Série</option>
                        <option value="recursos">por Recursos</option>
                        <option value="colaborador">por Colaborador</option>
                        <option value="id">por Id</option>
                    </select>
                    <button class="btn btn-secondary btn-ajustes-texto" type="submit">Buscar</button>
                </div>
                </form>
            </div>
        </div>
        <div>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Recursos</th>
                        <th scope="col">dt Con.</th>
                        <th scope="col">dt Lib.</th>
                        <th scope="col">Status</th>
                        <th scope="col">Colaborador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="color: rgb(238, 81, 81);" scope="row">275 | SAMSUNG A10</th>
                        <td>10/01/2023</td>
                        <td> - </td>
                        <td>Em Uso</td>
                        <td>LUCAS FERREIRA DE FREITAS</td>
                    </tr>
                    <tr>
                        <th style="color: rgb(79, 161, 79);" scope="row">471 | CHIP VIVO</th>
                        <td>10/01/2023</td>
                        <td> -</td>
                        <td>Disponível</td>
                        <td>LUCAS FERREIRA DE FREITAS</td>
                    </tr>
                    <tr>
                        <th style="color: rgb(238, 81, 81);" scope="row">459 | SAMSUNG GALAXY TAB E</th>
                        <td>03/01/2023</td>
                        <td> -</td>
                        <td>Em Uso</td>
                        <td>MARCEL HENRIQUES DE PAULA SANTOS</td>
                    </tr>
                    <tr>
                        <th style="color: rgb(238, 81, 81);"scope="row">456 | M7 3G PLUS</th>
                        <td>03/01/2023</td>
                        <td> -</td>
                        <td>Em Uso</td>
                        <td>CARLOS ADRIANO SOUZA</td>
                    </tr>
                    <tr>
                        <th style="color: rgb(238, 81, 81);"scope="row">389 | HP 18-1200BR AIO PC BR</th>
                        <td>13/12/2021</td>
                        <td> -</td>
                        <td>Em Uso</td>
                        <td>JOSE CARLOS DIAS PRIMO</td>
                    </tr>
                    <tr>
                        <th style="color: rgb(238, 81, 81);"scope="row">456 | M7 3G PLUS</th>
                        <td>03/01/2023</td>
                        <td> -</td>
                        <td>Em Uso</td>
                        <td>CARLOS ADRIANO SOUZA</td>
                    </tr>
                    <tr>
                        <th style="color: rgb(79, 161, 79);"scope="row">389 | HP 18-1200BR AIO PC BR</th>
                        <td>13/12/2021</td>
                        <td> -</td>
                        <td>Disponível</td>
                        <td>JOSE CARLOS DIAS PRIMO</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>



{% endblock conteudo %}