{% extends 'base.html' %}
{% block conteudo %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table from MySQL Database</title>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>ID Colaborador</th>
            <th>ID Filial</th>
            <th>ID Cargo</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock conteudo %}